# ----------------------- Main env ----------------------------
SECRET_KEY = ''
DEBUG = ''

# ----------------------- Clickhouse env ----------------------
CLICKHOUSE_NAME_DB = ''
CLICKHOUSE_HOST_DB = ''
CLICKHOUSE_USER_DB = ''
CLICKHOUSE_PASSWORD_DB = ''
CLICKHOUSE_PORT_DB = ''

# ----------------------- Sentry env ----------------------
SENTRY_DNS = ''
